extends layout

block content

  h1= title
  p Welcome 11 to #{title}
  
  header.navbar
    section.navbar-section
      a.navbar-brand.mr-2(href='...') Dimagine
    section.navbar-section
      a.btn.btn-link(href='...') Sign Up
      a.btn.btn-link(href='...') Login