class Dimagine < Formula
  desc "Tools for organizing image libraries"
  homepage "https://github.com/dimpurr/dimagine"
  version "{{VERSION}}"

  on_macos do
    if Hardware::CPU.arm?
      url "https://github.com/dimpurr/dimagine/releases/download/v#{version}/dimagine-darwin-arm64.tar.gz"
      sha256 "{{SHA256_DARWIN_ARM64}}"
    else
      url "https://github.com/dimpurr/dimagine/releases/download/v#{version}/dimagine-darwin-x86_64.tar.gz"
      sha256 "{{SHA256_DARWIN_X86_64}}"
    end
  end

  on_linux do
    if Hardware::CPU.arm?
      url "https://github.com/dimpurr/dimagine/releases/download/v#{version}/dimagine-linux-arm64.tar.gz"
      sha256 "{{SHA256_LINUX_ARM64}}"
    else
      url "https://github.com/dimpurr/dimagine/releases/download/v#{version}/dimagine-linux-x86_64.tar.gz"
      sha256 "{{SHA256_LINUX_X86_64}}"
    end
  end

  def install
    bin.install "dimagine"
    bin.install_symlink bin/"dimagine" => "dimg"
  end

  test do
    assert_predicate bin/"dimagine", :exist?
    assert_predicate bin/"dimg", :symlink?
  end
end
